<ion-header>
  <ion-toolbar color="empresarial">
    <ion-title>Verificación</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-row>
    <ion-col>
      <h5>Cuenta creada exitosamente. Por favor revise su correo para verificar la cuenta.</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        Si tu cuenta ya ha sido verificada
        <a routerLink="/"> pulsa aquí.</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
