<ion-header>
  <ion-toolbar color="empresarial">
    <ion-title>
      <ion-icon name="fitness-outline"></ion-icon>
      Crear cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formRegister" (ngSubmit)="onRegister()">
    <ion-item lines="full">
      <ion-label position="floating">Correo:</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="primary" type="submit" expand="block" [disabled]="!formRegister.valid">Registrarse
        </ion-button>

      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <p>
        <a routerLink="/">Ingresar</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
