<ion-tabs>

  <ion-tab-bar slot="bottom" color="empresarial">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>2</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="pencil-outline"></ion-icon>
      <ion-label>Formulario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Lugares</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="eye-outline"></ion-icon>
        <ion-label>Ver</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
