<ion-header>
  <ion-toolbar color="empresarial">
    <ion-title>
      <ion-icon name="fitness-outline"></ion-icon>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
    <ion-item lines="full">
      <ion-label position="floating">Correo:</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="primary" type="submit" expand="block" [disabled]="!formLogin.valid">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block">
        <ion-icon name="logo-google"></ion-icon>
        Login with Google
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a routerLink="/register">Registrarme</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
