
<ion-header [translucent]="true">
  <ion-toolbar color="empresarial">
    <ion-title>
      <ion-icon name="fitness-outline"></ion-icon>
      Laboratorio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" (click)="logout()" expand="block">
        Salir
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<!--
  <ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="empresarial">
      <ion-title>
        <ion-icon name="fitness-outline"></ion-icon>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Home</ion-item>
      <ion-item>Formulario</ion-item>
      <ion-item>Lugares</ion-item>
      <ion-item>Reportes</ion-item>
      <ion-item>Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
-->