<ion-header [translucent]="true">
  <ion-toolbar color="empresarial">
    <ion-title>
      <ion-icon name="fitness-outline"></ion-icon>
      Ver reportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-card *ngFor="let reporte of reportes; index as i">
    <ion-card-content style="background-color:lightgray;">
      <p class="ion-text-end">{{ i+1 }}</p>
      <ion-row>
        <ion-col style="background-color:lightgray;">
          <ion-item>
            <span>
              <p style="font-weight: bold;">Nombre:</p>
              <p>{{ reporte.nombre }}</p>
            </span>
          </ion-item>
          <ion-item>
            <span>
              <p style="font-weight: bold;">Código:</p>
              <p>{{ reporte.codigo }}</p>
            </span>
          </ion-item>
          <ion-item>
            <span>
              <p style="font-weight: bold;">Correo:</p>
              <p>{{ reporte.user.email }}</p>
            </span>
          </ion-item>
          <ion-item>
            <span>
              <p style="font-weight: bold;">Edad:</p>
              <p>{{ reporte.edad }}</p>
            </span>
          </ion-item>
          <ion-item>
            <span>
              <p style="font-weight: bold;">Cargo:</p>
              <p>{{ reporte.cargo }}</p>
            </span>
          </ion-item>
          <ion-item>
            <span>
              <p style="font-weight: bold;">Fecha de reporte:</p>
              <p>{{ reporte.fecha }}</p>
            </span>
          </ion-item>
          <ion-item>
            <span>
              <p style="font-weight: bold;">Medio de transporte empleado para ir a la institución:</p>
              <p>{{ reporte.medioTransporte }}</p>
            </span>
          </ion-item>
          <ion-item>
            <h4 style="font-weight: bold; color: brown;">Síntomas:</h4>
          </ion-item>
          <ion-item>
            <ul>
              <li>Tos: {{reporte.sintomas.tos}}</li>
              <li>Fatiga o cansancio: {{reporte.sintomas.fatiga}}</li>
              <li>Fiebre: {{reporte.sintomas.fiebre}}</li>
              <li>Resfriado: {{reporte.sintomas.resfriado}}</li>
              <li>Escalofrios: {{reporte.sintomas.escalofrios}}</li>
              <li>Dolor muscular: {{reporte.sintomas.dolorMuscular}}</li>
              <li>Dolor de cabeza: {{reporte.sintomas.dolorCabeza}}</li>
              <li>Dolor de garganta: {{reporte.sintomas.dolorGarganta}}</li>
              <li>Perdida del gusto: {{reporte.sintomas.perdidaOlfato}}</li>
              <li>Ha estado en contacto con personas diagnosticadas: {{reporte.sintomas.contactoCovid}}</li>
              <li>Ha estado en contacto con personas con síntomas: {{reporte.sintomas.contactoSintomasCovid}}</li>
              <li>Ha realizado viajes: {{reporte.sintomas.viaje}}</li>
            </ul>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

