<ion-header [translucent]="true">
  <ion-toolbar color="empresarial">
    <ion-title>
      <ion-icon name="fitness-outline"></ion-icon>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content 
  [scrollEvents]="true">
  <ion-row>
    <ion-col>
      <ion-item>
        <img src="https://orientacion.universia.net.co/imgs2011/imagenes/logovalle.png">
      </ion-item>
      <h5 style="text-align: center; font-weight: bold;">REPORTE OBLIGATORIO DE SALUD</h5>
      <p style="text-align: center;">
        La información que reporta debe ser revisada previamente para autorizar su ingreso 
        a la institución. Los datos serán confidenciales. Los datos deben ser diligenciados 
        personalmente. 
        (*) Campos obligatorios.
      </p>
    </ion-col>
  </ion-row>
  <form [formGroup]="myForm" (ngSubmit)="saveReport()">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Fecha: *</ion-label>
          <ion-datetime displayFormat="MM DD YYYY" 
          formControlName="fecha" placeholder="Seleccionar fecha"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Hora: *</ion-label>
          <ion-datetime formControlName="hora" displayFormat="HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Nombre: *</ion-label>
          <ion-input formControlName="nombre" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Código: *</ion-label>
          <ion-input formControlName="codigo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Edad: *</ion-label>
          <ion-input formControlName="edad" inputmode="numeric"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">¿Qué medio de transporte utiliza para llegar a la institución? (*)</ion-label>
          <ion-select formControlName="transporte" placeholder="Seleccionar">
            <ion-select-option value="Transporte publico">Transporte público</ion-select-option>
            <ion-select-option value="Vehiculo propio">Vehículo propio</ion-select-option>
            <ion-select-option value="Vehiculo compartido">Vehículo compartido</ion-select-option>
            <ion-select-option value="Bicicleta">Bicicleta</ion-select-option>
            <ion-select-option value="Moto">Moto</ion-select-option>
            <ion-select-option value="Caminando">Caminando</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">¿Función que desempeña en la institución? (*)</ion-label>
          <ion-select formControlName="cargo" placeholder="Seleccionar">
            <ion-select-option value="Estudiante">Estudiante</ion-select-option>
            <ion-select-option value="Docente">Docente</ion-select-option>
            <ion-select-option value="Personal">Personal</ion-select-option>
            <ion-select-option value="Personal administrativo">Personal administrativo</ion-select-option>
            <ion-select-option value="Invitado">Invitado</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row #lol>
      <ion-col>
        <p style="text-align: justify;">1) ¿Ha tenido alguno de los siguientes síntomas en las últimas 24 horas? *</p>
        <ion-item>
          <ion-radio-group formControlName="tos" value="Tos">
            <ion-list-header>
              <ion-label>Tos:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="fatiga" value="fatiga">
            <ion-list-header>
              <ion-label>Falta de aliento o dificultad para respirar:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <p style="text-align: justify;">o al menos DOS (2) de los siguientes síntomas en las últimas 24 horas *</p>
        <ion-item>
          <ion-radio-group formControlName="fiebre" value="Fiebre">
            <ion-list-header>
              <ion-label>Fiebre (normalmente superior a 38.4°) :</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="resfriado" value="Resfriado">
            <ion-list-header>
              <ion-label>Resfriado:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="escalofrios" value="Escalofrios">
            <ion-list-header>
              <ion-label>Escalofrios:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="dolorMuscular" value="Dolor muscular">
            <ion-list-header>
              <ion-label>Dolor muscular:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="dolorCabeza" value="Dolor de cabeza">
            <ion-list-header>
              <ion-label>Dolor de cabeza:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="dolorGarganta" value="Dolor de garganta ">
            <ion-list-header>
              <ion-label>Dolor de garganta:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="perdidaOlfato" value="Perdida de olfato o gusto">
            <ion-list-header>
              <ion-label>Perdida de olfato o gusto:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <p>Si respondió "Sí" a la pregunta uno, deberías:</p>
        <ul>
          <li style="font-weight: bold;">Notificar e informar la situación.</li>
          <li>Si persisten los síntomas debes asistir al centro de salud más cercano 
              y el equipo médico le indicará el abordaje del paciente.</li>
        </ul>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <p style="text-align: justify;">2) En los últimos 14 días tú has: * </p>
        <ion-item>
          <ion-radio-group formControlName="contactoCovid" value="contacto covid">
            <ion-list-header>
              <h6>¿Has estado en contacto con alguien a quien le diagnosticaron el COVID-19?</h6>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="contactoSintomas" value="contacto sintomas covid">
            <ion-list-header>
              <h6>¿Estuvo en contacto cercano con alguien que tenía síntomas de COVID-19?</h6>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="viaje" value="viaje">
            <ion-list-header>
              <h6>¿Viajó internacionalmente o tomó un crucero ?</h6>
            </ion-list-header>
            <ion-item>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio slot="start" value="Si"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="No"></ion-radio>
              </ion-item>
            </ion-item>
          </ion-radio-group>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row> 
      <ion-col>
        <ion-button 
        color="dark" 
        type="submit" 
        expand="block" [disabled]="!myForm.valid">Enviar información</ion-button>
        <!--[disabled]="!myForm.valid"-->
      </ion-col>
    </ion-row>
  </form>

</ion-content>
