<ion-header [translucent]="true">
  <ion-toolbar color="empresarial">
    <ion-title>
      <ion-icon name="fitness-outline"></ion-icon>
      Sitios visitados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="scanCode()" color="danger">
    <ion-icon name="qr-scanner"></ion-icon>
    SCANEAR QR
  </ion-button>
  
  <ion-card *ngIf="text">
    <ion-card-content>
      <p>Lugar visitado: <span style="color:brown; font-weight: bold;">{{ text }}</span></p>
    </ion-card-content>
  </ion-card>

</ion-content>
